* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.topSection,
.footer {
    background-color: #4BBA7D;
    height: 65px;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}

.red {
    background-color: #FF0000;
    height: 65px;
    width: 65px;
    position: relative;
    border-radius: 50%;
    top: 32.5px;
    z-index: 10;
}